/* IMPORT MAIN STYLESHEET */
@import "/UI/primary_view/app.css";
/* ----------------------------- */

.theme-input-error {
    -fx-border-radius: 2px;
    -fx-border-color: #f97b68;
    -fx-border-width: 3px;
    -fx-border-insets: 2px;
}
