/* LOAD CUSTOM FONT */

@font-face {
    src: url('/UI/resources/fonts/circular-book.ttf');
}

@font-face {
    src: url('/UI/resources/fonts/circular-medium.ttf');
}

@font-face {
    src: url('/UI/resources/fonts/circular-bold.ttf');
}

@font-face {
    src: url('/UI/resources/fonts/circular-black.ttf');
}

*{
    -fx-font-family: "Circular Std Medium";
}

/* BUTTONS */
JFXButton:hover, Button:hover{
    -fx-cursor: hand;
}

.button-raised{
    -fx-padding: 0.8em 0.2em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #1B71FF;
    -fx-pref-width: 90;
    -fx-text-fill: WHITE;
}