/* IMPORT MAIN STYLESHEET */
@import "/UI/primary_view/app.css";
/* ----------------------------- */

.myElucidationsTitle{
    -fx-font-family: "Circular Std Bold";
    -fx-font-size: 26px;
    -fx-text-fill: #484848;
}


.elucidationView_sideBox_title{
    -fx-font-size: 18px;
    -fx-font-family: "Circular Std Bold";
    -fx-text-fill: #484848;
}

.elucidationView_simpleInputField{
    -fx-font-size: 15px;
    -fx-font-family: "Circular Std Medium";
    -fx-text-fill: #000000;
    -fx-background-color: #fcfcfc;
    -fx-min-height: 46px;
    -fx-max-height: 46px;
    -fx-border-radius: 2px;
    -fx-border-color:  #DBDBDB;
}

.elucidationView_inputField{
    -fx-font-size: 15px;
    -fx-font-family: "Circular Std Medium";
    -fx-text-fill: #000000;
    -fx-background-color: #fcfcfc;
    -fx-min-height: 46px;
    -fx-max-height: 46px;
    -fx-border-radius: 2px;
    -fx-border-width: 0 0 0 1;
    -fx-border-color:  #DBDBDB;
}

.elucidationView_inputField_wrapper{
    -fx-padding: 0 0 0 10px;
    -fx-text-fill: #000000;
    -fx-background-color: #fcfcfc;
    -fx-min-height: 48px;
    -fx-max-height: 48px;
    -fx-border-radius: 2px;
    -fx-border-color:  #DBDBDB;
}

.elucidationView_inputField_description{
    -fx-font-family: "Circular Std Book";
    size: 15px;
    -fx-text-fill: #484848;
}

.elucidationView_section_title{
    -fx-font-size: 22px;
    -fx-font-family: "Circular Std Bold";
    -fx-text-fill: #484848;
}

.elucidationView_textArea{
    -fx-font-size: 15px;
    -fx-font-family: "Circular Std Medium";
    -fx-text-fill: #000000;
    -fx-min-height: 46px;
    -fx-border-radius: 2px;
    -fx-border-color:  #DBDBDB;
    -fx-background-color: #fcfcfc;
}

.elucidationView_textArea .content {
    -fx-background-color: #fcfcfc, #fcfcfc, #fcfcfc, #fcfcfc;
    -fx-border-color: transparent;
}

.elucidationView_textAreafocused .content {
    -fx-background-color: transparent, white, transparent, white;
}